
/*.demo-container {
    width: 1040px;
    margin: auto;
}*/

div#demo-box {
  border: 1px solid #eee;
}

div#tutorial-box {
  border: 1px solid #eee;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 10px;
}

div#demo-title {
  text-align: center;
  color: #666;
}

#demo-title img {
  margin-top: 10px;
  width: 20px;
  padding: 2px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

div#demo-controls {
  height: 160px;
  margin: 20px;
  margin-bottom: 0;
  text-align: right;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
}

div#para-title {
  font-size: 15px;
  margin-bottom: 15px;
}

div#para-line {
  margin-bottom: 10px;
}

select#soflow-t, #soflow-i, #soflow-u {
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70px;
  font-size: 10px;
}

select#soflow-l {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
  font-size: 10px;
}

div#demo-legend {
  height: 160px;
  margin: 20px;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  text-align: left;
}

.symbol {
  float: right;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 5px auto 0;
  background-color: #ffffff;
}

.symbol.small { width: 10px; height: 10px; }
.symbol.large  { width: 18px; height: 18px; }

div#demo-plot {
  height: 200px;
  background: #fff;
  margin: 20px;
}

div#demo-epicurves {
  height: 180px;
}

div#plot-title {
  height: 20px;
  text-align: center;
}

div#plot-xlable {
  height: 10px;
  text-align: right;
}

div#demo-graph-layout {
  height: 480px;
  margin: 20px;
  margin-bottom: 0;
  background: #fafafa;
  border: 1px solid #eee;
  clear: both;
  position: relative;
}

div#demo-chatting {
  height: 480px;
  margin: 20px;
  background: #fafafa;
  border: 1px solid #eee;
  position: relative;
  overflow: auto;
  font-size: 12px;
  text-align: left;
}

span#demo-right {
  float: right;
}

circle.node {
  stroke: #000;
  stroke-width: 1px;
  fill: #ff0;
}

line.link {
  stroke: #333;
  stroke-opacity: .2;
  stroke-width: 1px;
}

button {
  float: left;
  font-size: 16px;
  height: 30px;
}

button#reset-button {
  color: #666;
}

button#start-button {
  color: #008000;
}

button#stop-button {
  color: #FF0000;
}

button#default-button {
  margin-top: 0px;
  font-size: 10px;
  height: 20px;
}

span#speed-box {
  float: left;
  height: 30px;
  text-align: center;
  font-size: 10px;
  width: 90px;
  border: 1px solid #aaa;
}

input#speed {
  width: 80px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00c6ff;
}

a#copy {
  text-decoration: none;
  color: #990000;
}

div#footer {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
}

div#copyright {
  margin-bottom: 10px;
}

#info-tab {
  cursor: pointer;
  position: relative;
  font-size: 2.5em;
  width: 5em;
  height: 1.25em;
  /*background: rgba(60,118,61,0.18);*/
  color: black;
  text-align: center;
  padding-top: 0.2em;
  border-radius: 10px;
}

#info {
  position: fixed;
  bottom: 0;
  right: -100%;
  height: 100%;
  background: rgba(255,255,255,0.98);
  width: 100%;
  z-index: 8;
}

#info #info-inner {
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  padding: 75px 50px;
  margin: auto;
  position: relative;
}

#info #info-inner #info-inner-inner {
  max-width: 750px;
  margin: auto;
}


#info #info-close {
  cursor: pointer;
  position: absolute;
  font-size: 3em;
  top: 20px;
  left: 20px;
  width: 1.25em;
  height: 1.25em;
  color: black;
  text-align: center;
  padding-top: 0.15em;
  border-radius: 10px 0 0 10px;
}

#info #info-close:hover { opacity: 0.5; }
#info h1 { margin-top: 10px; font-size: 18px; font-weight: bold; }
#info h2 { margin-top: 30px; font-size: 16px; font-weight: bold; }
#info p, #info ul { margin-top: 10px; font-size: 14px; }

