body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.intro-section {
    height: 1880px;
    padding-top: 110px;
    background: #fff;
}

.tutorial-section {
    padding: 20px;
    padding-top: 100px;
    background: #fff; /*#eee*/
}

/*when screen is less than 768px, add these: */
@media only screen and (min-width: 768px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    #intro {
        height: 910px;
        padding-top: 110px;
        background: #fff;
    }

    div#demo-controls {
        margin-left: 20px;
        margin-right: 5px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    div#demo-legend {
        margin: 5px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    div#demo-plot {
        margin-left: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    div#demo-graph-layout {
        margin-right: 5px;
    }

    div#demo-chatting {
        margin-left: 0px;
    }
}

/*when it continue increases to 992px, add these: */
@media only screen and (max-width: 992px) and (min-width: 768px){
    div#demo-box {
        font-size: 10px;
    }
    div#para-title {
        font-size: 12px;
    }
    div#plot-title {
        height: 12spx;
        text-align: center;
    }
    div#demo-title {
        margin-top: 30px;
    }
    #info-tab {
        position: absolute;
        right: 9%;
        top: 34%;
        font-size: 1.5em;
    }
    select#soflow-l {
        right: 5%;
        top: 50%;
        width: 70px;
    }
}

/*when it's larger than 992px, add these: */
@media only screen and (min-width: 992px) {
    div#copyright {
        text-align: left;
    }

    div#author {
        text-align: right;
    }
}
