body {
  font-family: Sans-Serif;
}

div#center {
  width: 1040px;
  margin: auto;
  position: relative;
}

div#title {
  width: 1040px;
  font-size: 25px;
  text-align: center;
  color: #666;
}

span#subtitle {
  font-size: 20px;
}

div#share-buttons {
  width: 100px;
  float: right;
  position: absolute;
  left: 960px;
  top: 35px;
  z-index: 10;
}

#share-buttons img {
  width: 20px;
  padding: 2px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

div#container {
  width: 1018px;
  height: 660px;
  border: 1px solid #eee;
  margin: 10px;
}

div#controls {
  float: left;
  height: 160px;
  width: 280px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: right;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
}

div#para_line {
  font-size: 15px;
  margin-bottom: 10px;
}

select#soflow-t, #soflow-i, #soflow-u {
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  font-size: 12px;
}

div#legend {
  float: left;
  width: 300px;
  height: 160px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 15px;
}

span#right {
  float: right;
}

#legend ul li { display: inline; float: left; margin: 0 15px 0 0; text-align: left; }

.symbol {
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 5px auto 0;
  background-color: #ffffff;
}

.symbol.small { width: 10px; height: 10px; }
.symbol.large  { width: 18px; height: 18px; }

div#plot {
  float: right;
  width: 325px;
  height: 200px;
  background: #fff;
  margin: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}

div#epicurves {
  height: 180px;
}

div#plot-title {
  height: 20px;
  text-align: center;
  font-size: 15px;
}

div#plot-xlable {
  height: 10px;
  text-align: right;
  font-size: 15px;
}

div#graph-layout {
  float: left;
  height: 400px;
  width: 625px;
  margin: 20px;
  background: #fafafa;
  border: 1px solid #eee;
  clear: both;
  position: relative;
}

div#chatting {
  float: right;
  height: 400px;
  width: 320px;
  margin: 20px;
  margin-left: 0px;
  background: #fafafa;
  border: 1px solid #eee;
  position: relative;
  overflow: auto;
  font-size: 12px;
}

circle.node {
  stroke: #000;
  stroke-width: 1px;
  fill: #ff0;
}

line.link {
  stroke: #333;
  stroke-opacity: .2;
  stroke-width: 1px;
}

button {
  float: left;
  font-size: 20px;
}

button#reset-button {
  height: 32px;
  color: #666;
}

button#start-button {
  height: 32px;
  color: #008000;
}

button#stop-button {
  height: 32px;
  color: #FF0000;
}

button#default-button {
  margin-top: 0px;
  font-size: 11px;
}

span#speed-box {
  float: left;
  height: 32px;
  text-align: center;
  font-size: 12px;
  width: 100px;
  border: 1px solid #aaa;
}

input#speed {
  width: 80px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  /*font-size: 14px;*/
  color: #00c6ff;
}

a#copy {
  text-decoration: none;
  font-size: 14px;
  color: #990000;
}
.tooltip {
  display: block;
  position: absolute;
  max-width: 255px;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  /*text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
}

div#credits {
  text-align: left;
  font-size: 14px;
  padding: 10px;
}

.carousel-indicators li { visibility: hidden; }

.carousel-control {
    z-index: 10;
    top: 2%;
    width: 30px; // no more gray thing
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.carousel-control.left,
.carousel-control.right { background: none }
.carousel-control.left { left: -40px; }
.carousel-control.right { right: -40px; }
