body {
  font-family: Sans-Serif;
}

div#center {
  width: 1042px;
  margin: auto;
  position: relative;
}

div#title {
  width: 1042px;
  font-size: 25px;
  text-align: center;
  color: #666;
}

span#subtitle {
  font-size: 20px;
}

div#share-buttons {
  width: 100px;
  float: right;
  position: absolute;
  left: 960px;
  top: 35px;
  z-index: 10;
}

#share-buttons img {
  width: 20px;
  padding: 2px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

div#container {
  width: 1020px;
  height: 660px;
  border: 1px solid #eee;
  margin: 10px;
}

div#controls {
  float: left;
  height: 140px;
  width: 260px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: right;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
}

/*div#controls-advanced {
  font-size: 23px;
  height: 90px;
  margin-top: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
}*/

div#para_line {
  font-size: 15px;
  margin-bottom: 10px;
}

span#trange, #prange, #arange, #lrange {
  width: 50px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #aaa;
}

input#tolerance, #learning, #post, #rewire {
  height: 9px;
  width: 90px;
}

div#legend {
  float: left;
  width: 250px;
  height: 120px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 15px;
}

span#right {
  float: right;
}

#legend ul li { display: inline; float: left; margin: 0 15px 0 0; text-align: left; }

.symbol {
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 5px auto 0;
  background-color: #ffffff;
}

.symbol.small { width: 10px; height: 10px; }
.symbol.large  { width: 18px; height: 18px; }

div#plot {
  float: left;
  width: 325px;
  height: 200px;
  background: #fff;
  margin: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}

div#epicurves {
  height: 180px;
}

div#plot-title {
  height: 20px;
  text-align: center;
  font-size: 15px;
}

div#plot-xlable {
  height: 10px;
  text-align: right;
  font-size: 15px;
}

/*div#counters {
  float: left;
  left: 100px;
  height: 200px;
  font-size: 14px;
  position: relative;
  top: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}*/

div#graph-layout {
  float: left;
  height: 400px;
  width: 630px;
  margin: 20px;
  background: #fafafa;
  border: 1px solid #eee;
  clear: both;
  position: relative;
}

div#chatting {
  float: right;
  height: 400px;
  width: 320px;
  margin: 20px;
  margin-left: 0px;
  background: #fafafa;
  border: 1px solid #eee;
  position: relative;
  overflow: auto;
  font-size: 12px;
}


/*span#counter_text {
  color: #666;
  font-size: 20px;
}*/

/*span#opinion, span#agent, span#iterate {
  font-size: 36px;
  font-weight: bold;
  color: #735817;
}*/

circle.node {
  stroke: #000;
  stroke-width: 1px;
  fill: #ff0;
}

line.link {
  stroke: #333;
  stroke-opacity: .2;
  stroke-width: 1px;
}

/*span#start-text {
  float: left;
  font-size: 20px;
  text-align: left;
  color: #666;
  padding: 5px;
}*/

button {
  float: left;
  font-size: 23px;
}

button#reset-button {
  height: 32px;
  color: #666;
}

button#start-button {
  height: 32px;
  color: #008000;
}

button#stop-button {
  height: 32px;
  color: #FF0000;
}

button#default-button {
  margin-top: 0px;
  font-size: 12px;
}

span#speed-box {
  float: left;
  height: 30px;
  text-align: center;
  font-size: 12px;
  width: 100px;
  border: 1px solid #aaa;
}

input#speed {
  float: center;
  width: 80px;
}

a {
  text-decoration: none;
  /*font-size: 14px;*/
  color: #00c6ff;
}

a#copy {
  text-decoration: none;
  /*font-size: 14px;*/
  color: #990000;
}
.tooltip {
  display: block;
  position: absolute;
  max-width: 255px;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  /*text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
}

div#credits {
  text-align: left;
  font-size: 12px;
  padding: 10px;
}
